.header {
    margin: 0;
    font-family: Titillium Web;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.toggle {
    width: 100%;
    background-color: white;
    box-shadow: 3px 4px 5px 6px #b8b8b8;
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size: 25px;
    padding-right: 17px;
    display: none;
}

@media all and (max-width: 768px) {
    .toggle {
        display: block;
    }
    .navBar {
        display: none;
        text-align: center;
    }
    .about-me-icon-link {
        margin: 15px 20px 0 20px;
    }
    .navbarLink {
        display: block;
    }
    .active {
        display: block;
        display: flex;
        flex-direction: column;
    }
}

.about-me-icon-avatar-component {
    margin: auto;
}

.navBar {
    background-color: white;
    box-shadow: 3px 4px 5px 6px #b8b8b8;
}

.projects-and-certificates-icons {
    padding: 20px;
}

.about-me-icon-link {
    background: none;
    color: black;
    text-shadow: 2px 2px 5px gray;
    float: left;
    padding: 13px;
    &:hover {
        background-color: #3b6ebf;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
}

.navbarLink {
    background: none;
    color: black;
    padding: 20px;
    text-shadow: 2px 2px 5px gray;
    &:hover {
        background-color: #3b6ebf;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
}

.navbarLink,
a {
    text-decoration: none;
}