.header {
    margin: 0;
    font-family: Titillium Web;
}

.container {
    display: inline-block;
    cursor: pointer;
}

// .bar1,
// .bar2,
// .bar3 {
//     width: 35px;
//     height: 5px;
//     background-color: #333;
//     margin: 6px 0;
//     transition: 0.4s;
// }
// .change {
//     .bar1 {
//         -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//         transform: rotate(-45deg) translate(-9px, 6px);
//     }
//     .bar2 {
//         opacity: 0;
//     }
//     .bar3 {
//         -webkit-transform: rotate(45deg) translate(-8px, -8px);
//         transform: rotate(45deg) translate(-8px, -8px);
//     }
// }
.toggle {
    width: 100%;
    background-color: white;
    // padding: 0 20px;
    box-shadow: 3px 4px 5px 6px #b8b8b8;
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size: 25px;
    display: none;
}

@media all and (max-width: 768px) {
    .toggle {
        display: block;
    }
    .navBar {
        display: none;
    }
    .navbarLink {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
}

.navBar {
    background-color: white;
    /* background-color: #060669; */
    //padding: 20px;
    /* padding: 0 20px 20px 20px; */
    /* height: 40px; */
    /* border-radius: 7px; */
    /* margin: 0; */
    box-shadow: 3px 4px 5px 6px #b8b8b8;
}

.projects-and-certificates-icons {
    padding: 20px;
}

.about-me-icon {
    background: none;
    color: black;
    // padding: 20px 20px;
    text-shadow: 2px 2px 5px gray;
    float: left;
    padding: 13px;
    &:hover {
        background-color: #3b6ebf;
        /* background-color: gray; */
        color: white;
        /*nav a is closer than general a so hover color worked*/
        /* text-shadow: 0 0 3px #FF0000; */
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
}

.navbarLink {
    /* margin-right: auto;
  margin-left: auto; */
    /*****/
    background: none;
    color: black;
    /* color: white; */
    /* border-radius: 7px; */
    padding: 20px;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    text-shadow: 2px 2px 5px gray;
    /*****/
}

.navbarLink:hover {
    background-color: #3b6ebf;
    /* background-color: gray; */
    color: white;
    /*nav a is closer than general a so hover color worked*/
    /* text-shadow: 0 0 3px #FF0000; */
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.navbarLink,
a {
    text-decoration: none;
    /*to remove underline from links */
}