.videoTitles {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 1.25em;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

video {
    width: 68%;
    margin: 0 16% 0 16%;
}